@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Target the scrollbar */
::-webkit-scrollbar {
  width: 3px; /* For vertical scrollbar */
  height: 3px; /* For horizontal scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #9f9f9f; /* Gray thumb */
  border-radius: 100px; /* Rounded edges */
}

/* On hover, make the thumb darker */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray */
}
